excilys-bank-data/src/main/resources/data/excilys-bank-dbunit.dtd

<!ELEMENT dataset ANY>

<!ELEMENT REF_ROLE EMPTY>
<!ELEMENT REF_ACCOUNT_CATEGORY EMPTY>
<!ELEMENT REF_ACCOUNT_TYPE EMPTY>
<!ELEMENT REF_CARD_TYPE EMPTY>
<!ELEMENT REF_OPERATION_TYPE EMPTY>
<!ELEMENT REF_OPERATION_STATUS EMPTY>
<!ELEMENT USR EMPTY>
<!ELEMENT USR_ROLE EMPTY>
<!ELEMENT ACCOUNT EMPTY>
<!ELEMENT USR_ACCOUNT EMPTY>
<!ELEMENT CARD EMPTY>
<!ELEMENT OPERATION EMPTY>

<!ATTLIST REF_ROLE ID CDATA #REQUIRED>
<!ATTLIST REF_ROLE NAME  CDATA #REQUIRED>
<!ATTLIST REF_ACCOUNT_CATEGORY ID CDATA #REQUIRED>
<!ATTLIST REF_ACCOUNT_CATEGORY NAME CDATA #REQUIRED>
<!ATTLIST REF_ACCOUNT_TYPE ID CDATA #REQUIRED>
<!ATTLIST REF_ACCOUNT_TYPE CATEGORY CDATA #REQUIRED>
<!ATTLIST REF_ACCOUNT_TYPE NAME CDATA #REQUIRED>
<!ATTLIST REF_CARD_TYPE ID CDATA #REQUIRED>
<!ATTLIST REF_CARD_TYPE NAME CDATA #REQUIRED>
<!ATTLIST REF_OPERATION_TYPE ID CDATA #REQUIRED>
<!ATTLIST REF_OPERATION_TYPE NAME CDATA #REQUIRED>
<!ATTLIST REF_OPERATION_STATUS ID CDATA #REQUIRED>
<!ATTLIST REF_OPERATION_STATUS NAME CDATA #REQUIRED>

<!ATTLIST USR ID CDATA #REQUIRED>
<!ATTLIST USR FIRSTNAME CDATA #REQUIRED>
<!ATTLIST USR LASTNAME CDATA #REQUIRED>
<!ATTLIST USR LOGIN CDATA #REQUIRED>
<!ATTLIST USR PASSWORD CDATA #REQUIRED>
<!ATTLIST USR EMAIL CDATA #REQUIRED>

<!ATTLIST USR_ROLE USR_ID CDATA #REQUIRED>
<!ATTLIST USR_ROLE ROLE_ID CDATA #REQUIRED>

<!ATTLIST ACCOUNT ID CDATA #REQUIRED>
<!ATTLIST ACCOUNT NUMBER CDATA #REQUIRED>
<!ATTLIST ACCOUNT TYPE CDATA #REQUIRED>
<!ATTLIST ACCOUNT BALANCE CDATA #REQUIRED>
<!ATTLIST ACCOUNT BALANCE_DATE CDATA #REQUIRED>

<!ATTLIST USR_ACCOUNT USR_ID CDATA #REQUIRED>
<!ATTLIST USR_ACCOUNT ACCOUNT_ID CDATA #REQUIRED>

<!ATTLIST CARD ID CDATA #REQUIRED>
<!ATTLIST CARD NUMBER CDATA #REQUIRED>
<!ATTLIST CARD ACCOUNT CDATA #REQUIRED>
<!ATTLIST CARD TYPE CDATA #REQUIRED>
<!ATTLIST CARD PENDING CDATA "">
<!ATTLIST CARD PENDING_DATE CDATA "">

<!ATTLIST OPERATION ID CDATA #REQUIRED>
<!ATTLIST OPERATION ACCOUNT CDATA #REQUIRED>
<!ATTLIST OPERATION AMOUNT CDATA #REQUIRED>
<!ATTLIST OPERATION DATE CDATA #REQUIRED>
<!ATTLIST OPERATION NAME CDATA #REQUIRED>
<!ATTLIST OPERATION TYPE CDATA #REQUIRED>
<!ATTLIST OPERATION STATUS CDATA #REQUIRED>
<!ATTLIST OPERATION CARD CDATA "">
