excilys-bank-web/src/main/resources/data/dataSet-data.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT dataset ANY>
<!ELEMENT USER EMPTY>
<!ATTLIST USER
		ID CDATA #REQUIRED
		FIRSTNAME CDATA #REQUIRED
		LASTNAME CDATA #REQUIRED
		LOGIN CDATA #REQUIRED
		PASSWORD CDATA #REQUIRED
		EMAIL CDATA #REQUIRED
>
<!ELEMENT USER_ROLE EMPTY>
<!ATTLIST USER_ROLE
		USER_ID CDATA #REQUIRED
		ROLE_ID CDATA #REQUIRED
>

<!ELEMENT ACCOUNT EMPTY>
<!ATTLIST ACCOUNT
		ID CDATA #REQUIRED
		NUMBER CDATA #REQUIRED
		TYPE CDATA #REQUIRED
		BALANCE CDATA #REQUIRED
		BALANCE_DATE CDATA #REQUIRED
>
<!ELEMENT USER_ACCOUNT EMPTY>
<!ATTLIST USER_ACCOUNT
		USER_ID CDATA #REQUIRED
		ACCOUNT_ID CDATA #REQUIRED
>
<!ELEMENT CARD EMPTY>
<!ATTLIST CARD
		ID CDATA #REQUIRED
		NUMBER CDATA #REQUIRED
		TYPE CDATA #REQUIRED
		ACCOUNT CDATA #REQUIRED
		PENDING CDATA ""
		PENDING_DATE CDATA ""
>
<!ELEMENT OPERATION EMPTY>
<!ATTLIST OPERATION
		ID CDATA #REQUIRED
		ACCOUNT CDATA #REQUIRED
		STATUS CDATA #REQUIRED
		ACCOUNT CDATA #REQUIRED
		TYPE CDATA #REQUIRED
		CARD CDATA ""
		AMOUNT CDATA #REQUIRED
		NAME CDATA #REQUIRED
		DATE CDATA #REQUIRED
>
